:root {
    --blue: rgb(25,146,212);
    --offwhite: rgb(226,232,240);
    --yellow: rgb(240,180,41);
}

* {
    /* border: 1px dotted red; */
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}




/* ##### OVERALL LAYOUT ##### */
body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "sidebar titlebar"
    "sidebar main"
    ;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-rows: minmax(150px, 1fr) 5fr;
}




/* ##### SIDEBAR ##### */
.sidebar {
    background-color: var(--blue);
    color: white;
    grid-area: sidebar;
}

.logo {
    font-size: 1.3em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
}

.sidebar ul {
    margin: 0;
    margin-left: 1em;
    padding: 0;
    padding-top: 2em;
    
    display: grid;
    gap: 10px;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Used to align links on the left with their images. */
.alin {
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr;
    gap: 0.5em;
    align-items: center;
    /* justify-items: start; */
    justify-content: start;
}

.alin img {
    height: 1.5em;
}




/* ##### TITLE BAR ##### */
.titlebar {
    background-color: white;
    grid-area: titlebar;
    box-shadow: 0px 0px 10px 0px gray;
    display: grid;
    grid-template-areas: 
        "search notify"
        "name buttons"
    ;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    align-content: space-between;
    justify-content: space-between;
    padding: 1em;
    padding-bottom: 10em;
}


/* SEARCHBAR */
.search {
    grid-area: search;
    
}

.search input[type="text"] {
    border: none;
    background-color: var(--offwhite);
    border-radius: 1em;
    height: 1.8em;
    padding: 0 1em;
    /* width: 130%; */
}


/* NOTIFICATION AREA */
.notify {
    grid-area: notify;
 
    font-weight: bold;

    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    gap: 0.5em;
    align-items: center;
    justify-items: end;
    justify-content: end;
}

.profile {
    height: 2em;
    border-radius: 1em;
    width: auto;
}


/* PROFILE PICTURE AND NAME */
.name {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;
    gap: 1em
}

.titlebar .name {
    grid-area: name;
}

.titlebar .name p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#user-name {
    font-size: 1.5em;
}

.profile-big {
    height: 4em;
    border-radius: 10em;
    width: auto;
}

.buttons {
    grid-area: buttons;

    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    gap: 0.5em;
    align-items: center;
    justify-items: end;
    justify-content: end;

}

.buttons input[type="button"] {
    border-radius: 10em;
    padding: 0.5em 1em;
    margin-left: 0.5em;
    width: 5em;

    background-color: var(--blue);
    color: white;
    border-style: none;
    font-size: 1em;
}




/* ##### MAIN CONTENT ##### */
.main {
    background-color: var(--offwhite);
    grid-area: main;

    padding: 1em;
    padding-top: 2em;

    display: grid;
    grid-template-areas: 
        "projects announcements"
        "projects trending"
    ;
    grid-template-columns: 2fr 1fr;
    gap: 2em;

    align-items: baseline;
}


/* PROJECTS */
.projects {
    grid-area: projects;
}

.card-container {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
}

.card {
    background-color: white;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 0.5em;
    box-shadow: 0px 2px 5px 0px gray;/* , 0.4em 0px 0px 0px var(--yellow) inset; */
    padding-left: 1.5em;
    
}

.projects .card {
    border-left: 0.5em solid var(--yellow);

    display: grid;
    gap: 0.3em;

    grid-template-rows: 1em 1fr 1em;
}

.card h5, p {
    font-size: 0.925em;
    margin: 0;
    padding: 0;
}

.card h5 {
    margin-bottom: 1em;
}

.card p {
    margin-bottom: 1em;
    color: grey;
}

.card-icons {
    text-align: right;
    margin-top: auto;
}

.card-icons img{
    margin-left: 1em;
}


/* ANNOUNCEMENTS */
.announcements {
    grid-area: announcements;
}

.announcements h5 {
    margin-bottom: 0.3em;
}

.announcements hr {
    border-color: var(--offwhite);
}

/* TRENDING */
.trending {
    grid-area: trending;
}